* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    background: transparent url(images/autumn/bg-autumn.jpg) no-repeat top left fixed;
    color: black;
    background-size: 100%;
}

body{
    background: url(images/autumn/autumn.png) top right no-repeat;
}
h1 {
    margin: 5px;
    padding: 10px;
    background-color: orange;
    text-align: center;
}

h2{
    font: 30px arial;
    margin: 3px;
    padding: 8px;
    background-color: orange;
    width: 190px;
}

.menu{
    font-size: 50px;
    display: table;
    width: 100%;
}
.menu ul{
    list-style: none; 
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    font: 13px verdana, arial;
    color: #000;
    background: orange;
    text-decoration: none;
    float: left;
    padding: 5px 10px;
    margin-left: 1px;
}
.menu ul li a:target{
    color:orange;
    background: #000;
}

.anchtml{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: orange;
}
.anccss{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: blue;
}

.ancjavas{
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: yellow;
}

.phtml{
    position:absolute;
    left:280px;
    top: 200px;
    width: 800px;
    padding: 5px;
    border: 2px solid black;
    background-color : rgba(255,255,255,0.7);
}

.pcss{
    position:relative;
    left:280px;
    top: -200px;
    width: 800px;
    border: 2px solid black;
    padding: 5px;
    background-color : rgba(255,255,255,0.7);
}
.pjavas{
    position:relative;
    left:280px;
    top: -200px;
    width: 800px;
    padding: 10px;
    border: 2px solid black;
    background-color : rgba(255,255,255,0.7);
}

img{
    border: 2px solid #ccc;
    box-shadow: 3px 4px  1.9em white;
    padding: 2px;
    height: 200px;
    width: 200px;
}


