* {
    margin: 0;
    padding: 2px;
}

h1:hover{
    background-color: darkgrey;   
}

h1:hover span{
    text-shadow: 2px 2px 3px
}

h2.html-icon{
   text-indent: 30px;
   background-color: #FFA500;
   background-position: 1px;
   width: auto;
   margin: auto;
   border: solid 1px #FF4500
}

h2.css-icon{
   text-indent: 30px;
   background-color: lightskyblue;
   background-position: 1px;
   width: auto;
   margin: auto;
   border: solid 1px #008080;
}

h2.js-icon{
   text-indent: 30px;
   background-color: #ffff33;
   background-position-y: 1px;
   width: auto;
   margin: auto;
   border: solid 1px #ffde33;
}

.icone{
    background-size: 25px 25px;
    background-repeat: no-repeat;
}


.html-icon{
    background-image: url(../images/html5.png);
    
}

.css-icon{
    background-image: url(../images/css3.png);
    
}

.js-icon{
    background-image: url(../images/javascript.png);
    
}

body{
    background-image: url(../images/bg-autumn.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}