body{
    margin-left: 220px;
    text-align: center;
    max-width: 1000px;
    align-self: center;
    align-items: center;
    align-content: center;
    background-image: url("../../assets/seasons/autumn/bg-autumn2.jpg");
}

div{
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid orange;
    border-radius: 1%;
    padding: 5px 10px 5px 10px;
}

div:hover{
    background-color: rgba(220, 220, 220, 0.9);
    border: 3px solid black;
    border-radius: 1%;
    padding: 5px 10px 5px 10px;
}

.image{
    max-width: 100px;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    color: black;
}

a{
    text-decoration: none;
}

.title{
    border: 1px solid white;
    color: white;
    background: black
}